@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:100px;">
    <div class="col-md-4 col-md-offset-1">
        <a href="~/People/Index">
            <div class="well">
                <h3>People</h3>
            </div>
        </a>
    </div>

    @*<div class="col-md-4">
        <a href="~/Devices/Index">
            <div class="well">
                <h3>Devices</h3>
            </div>
        </a>
    </div>*@

    <div class="col-md-4 col-md-offset-1">
        <a href="~/PointOfAccesses/Index">
            <div class="well">
                <h3>Point Of Access</h3>
            </div>
        </a>
    </div>

    @*<div class="col-md-4">
        <a href="~/Registrations/Index">
            <div class="well">
                <h3>Registrations</h3>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="~/EntryLogs/Index">
            <div class="well">
                <h3>Entry Logs</h3>
            </div>
        </a>
    </div>*@
</div>